<div>
  <img src="/assets/profile-pic.jpeg" alt="Headshot of Maxi Ferreira" />
  <p>
    Olá, sou Thales Menezes, quase cientista da computação, empresário, pós
    junior, gerente e desenvolvedor. Apaixonado por padrões de projeto, backend
    e ensinar. Dá uma olhada no
    <a href="github.com/thlmenezes">GitHub</a> e
    <a href="linkedin.com/in/thlmenezes">LinkedIn</a>
    para saber o que tenho inovado.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
