<style>
  img {
    display: block;
    width: 75px;
  }
</style>

<a href="/">
  <picture>
    <source
      srcset="/assets/logo:dark.webp"
      width="75"
      height="50"
      media="(prefers-color-scheme: light)"
    />
    <img
      src="/assets/logo:light.webp"
      alt="Logomarca com sobrancelhas, óculos e texto TM, com subtítulo Thales Menezes"
    />
  </picture>
</a>
